html, body{
    height: 100%;
    margin: 0;
}
body{
    background-image: url("bg.valentine.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
button{
    padding: 16px 32px;
    font-size: 16px;
    margin: 0 8px;
    flex-shrink: 0;
}
.buttons{
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    font-size: 100px;
}
a{
    text-decoration: none;
}
h1{
    color: rgb(255, 0, 0);
    -webkit-text-stroke: 0.5px black;
    font-family: "Valentine", cursive;
    flex-shrink: 0;
    transform: translateY(-60px);
}
@font-face {
    font-family: "Valentine";
    src: url(./fonts/Valentine.otf) format("truetype");
}
.group{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    gap: 40px;
}
.yes:hover{
    color: rgb(30, 255, 0);
}
.no:hover{
    color: rgb(255, 0, 0);
}
